In [16]:
import numpy as np
import pandas as pd

In [6]:
#index level
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [7]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [4]:
inside

[1, 2, 3, 2, 1, 3]

In [8]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [17]:
df = pd.DataFrame(np.random.randn(6,2), hier_index, ['A', 'B'])

In [18]:
df

             A         B
G1 1 -0.170676  0.277866
   2  0.232496  0.261818
   3  0.355770  1.764394
G2 1 -1.748989  0.352385
   2  0.561342  0.225155
   3  1.294312 -0.835059

In [19]:
df.loc['G1']

          A         B
1 -0.170676  0.277866
2  0.232496  0.261818
3  0.355770  1.764394

In [25]:
df.loc['G1'].loc[1]

A   -0.170676
B    0.277866
Name: 1, dtype: float64

In [27]:
df.index.names = ['Groups', 'Numbers']

In [29]:
df

                       A         B
Groups Numbers
G1     1       -0.170676  0.277866
       2        0.232496  0.261818
       3        0.355770  1.764394
G2     1       -1.748989  0.352385
       2        0.561342  0.225155
       3        1.294312 -0.835059

In [30]:
df.loc['G2'].loc[2]['B']

0.22515470087440084

In [31]:
df.xs

<bound method NDFrame.xs of                        A         B
Groups Numbers
G1     1       -0.170676  0.277866
       2        0.232496  0.261818
       3        0.355770  1.764394
G2     1       -1.748989  0.352385
       2        0.561342  0.225155
       3        1.294312 -0.835059>

In [35]:
df.xs(1, level='Numbers')

               A         B
Groups
G1     -0.170676  0.277866
G2     -1.748989  0.352385